<ion-header>
    <ion-toolbar>
        <ion-title>Schedule</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let plant of schedule">
            <div class="ion-itemContainer">
                <img src="{{plant.pictureURL}}" />
                <div class="textContainer">
                    <span>{{plant.plantName}}</span>
                </div>
                <ion-button *ngIf="plant.needsWater" (click)="WaterPlant(plant)">Watered!</ion-button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>